In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import csv
from datetime import datetime

In [2]:
path = "../data/Exercises_SS22/sleeplab_dataset_10hz/patient_29_male_7_years/"

In [3]:
df = pd.read_csv(path + "BeinLi_10HZ.csv", skiprows=1)
with open(path + "BeinLi_10HZ.csv", newline='') as f:
    reader = csv.reader(f)
    start_end_time = next(reader)
df_label = pd.read_csv(path + "sleep_staging.csv")
print(start_end_time)

['21:34:06', '06:39:37']

In [6]:
start = datetime.strptime(start_end_time[0], "%H:%M:%S")
end = datetime.strptime(start_end_time[1], "%H:%M:%S")
duration_in_seconds = int(((start - end).total_seconds()))
len(df)/duration_in_seconds

6.09866030669474

In [5]:
full_number = int(len(df)/duration_in_seconds)
behind_decimal_point = len(df)/duration_in_seconds % 1
i = 0
label_repeat = 0
while i < 1:
    i += behind_decimal_point
    label_repeat += 1
full_number

6

In [7]:
for i, row in enumerate(df_label):
    df_label['bein'] =

      Epochennummer     Start Schlafstadium
0                 1  21:34:06            WK
1                 2  21:34:36            WK
2                 3  21:35:06            WK
3                 4  21:35:36            WK
4                 5  21:36:06            WK
...             ...       ...           ...
1087           1088  06:37:36            WK
1088           1089  06:38:06            WK
1089           1090  06:38:36            WK
1090           1091  06:39:06            WK
1091           1092  06:39:36           REM

[1092 rows x 3 columns]

In [8]:
df

        0.0
0       0.0
1       0.0
2       0.0
3       0.0
4      -6.0
...     ...
327304  2.0
327305 -2.0
327306  0.0
327307  1.0
327308  2.0

[327309 rows x 1 columns]